html, body {
  height: 100%;
  margin: 0;
}

.container-fluid.d-flex {
  height: 100vh;
  overflow: hidden;
}

app-sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #002c5f;
  color: white;
  flex-shrink: 0;
}

main {
  overflow-y: auto;
  background-color: #f8f9fa;
}
