<div class="sidebar d-flex flex-column p-3">
  <!-- Logo -->
  <a routerLink="/" class="sidebar-logo mb-4 text-decoration-none">
    <i class="bi bi-box-seam-fill fs-4 me-2 text-orange"></i>
    <span class="sidebar-title">Budgify</span>
  </a>

  <!-- Menu -->
  <ul class="nav nav-pills flex-column mb-auto sidebar-menu">
    <li>
  <a routerLink="/home" routerLinkActive="active" class="nav-link">
    <i class="bi bi-house-door me-2"></i> Home
  </a>
</li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/transactions" routerLinkActive="active" class="nav-link">
        <i class="bi bi-cash-stack me-2"></i> Transactions
      </a>
    </li>
    <li>
      <a routerLink="/budget" routerLinkActive="active" class="nav-link">
        <i class="bi bi-pie-chart me-2"></i> Budget
      </a>
    </li>
   
  </ul>

  <hr class="text-white" />

  <!-- User -->
  <div class="mt-auto">
    <a href="#" class="nav-link text-white">
      <i class="bi bi-person-circle fs-5 me-2"></i>
      <span class="d-none d-md-inline text-onetech-blue">{{ username }}</span>
    </a>
  </div>
</div>
